/* remove all padding and margins from the page body so that content is flush against the 4 walls of page */
body, html {
    box-sizing: border-box;
    margin: 0;
    padding :0;
}

/* header doesn't need to be flex */
/* use text-align to center children and wrap children in container*/
.header {
    background-color: #F3EED9;
    padding: 4em 2em;
    text-align: center;
    min-height: 660px;
    display: flex;
}

.header__container, .container {
    width: 75%;
    max-width: 1128px;
    padding: 3em;
}

.header__container {
    margin: auto;
}

h1 {
    font-size: 4rem;
    margin: 0;
    color: #824936;
}

p{
    font-size: 1.125rem;
}

h2 {
    font-size: 2.25rem;
    color: #F3EED9;
}

img {
    width: 100%;
}

.header p {
    text-transform: uppercase;
    margin: 0;
}

/* first section under the header */
.description h2 {
    text-align: center;
    color: #824936;
}

.description,.custom-for-you, .created-with-care {
    padding: 4em 2em;

}
/* second section under the header */
.custom-for-you {
    background-color: #222C2A;
    color: #FAFAFA;
}

/* third section under the header */
.created-with-care{
    background-color: #824936;
    color: #FAFAFA;
}

/* this will wrap around all content in each section/header */
.container {
    margin: 0  auto;

}

.flex {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}

.flex-p {
    min-height: 300px;
}

.box {
    width: 48%;
    display: flex;
}

.box__alignment-container h2 {
    margin-bottom: 1rem;
}

.box__alignment-container h2,p {
    margin-top: auto;
    padding-top: 0%;
}

@media (max-width: 600px){

    h1 {
        font-size: 24px;
    }

    .header {
        padding: 2em;

    }
    

}


@media (max-width: 900px){
    .flex{
        flex-direction: column;
    }
    .box {
        width: 100%;
    }

    .flex-p {
        min-height: min-content;
    }

    .description,.custom-for-you, .created-with-care {
        padding: 2em;
    
    }
}




